<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gama Server Middleware</title>
    <link rel="stylesheet" type="text/css" href="settings.css">
</head>
<body>
    <header>
        <h1>Gama Server Middleware</h1>
    </header>

    <nav class="navbar">
        <ul class="nav-list">
            <li class="nav-item"><a href="/monitor">Monitor</a></li>
            <li class="nav-item"><a href="/settings">Settings</a></li>
            <li class="nav-item"><a href="/help">Help</a></li>
        </ul>
    </nav>

    <p id="connection-state" style="display:none;"></p>

    <section class="container">
    <div class="form-container">

        <form id="json-form">

            <h2 class="with-bar">About GAMA Server</h2>


            <div class="field">
                <label for="ip-address-gama-server">IP address</label>
                <input type="text" id="ip-address-gama-server" name="ip_address_gama_server">
            </div>

            <div class="field">
                <label for="gama-ws-port">Websocket port</label>
                <input type="number" id="gama-ws-port" name="gama_ws_port">
            </div>

            <div class="field">
                <label for="model-file-path">Model file path</label>
                <input type="text" id="model-file-path" name="model_file_path">
            </div>

            <div class="field">
                <label for="model-file-path-type">Path type</label>
                <select id="model-file-path-type" name="model_file_path_type">
                    <option>Absolute</option>
                    <option>Relative</option>
                </select>
            </div>

            <div class="field">
                <label for="experiment-name">Experiment name</label>
                <input type="text" id="experiment-name" name="experiment_name">
            </div>
            

            <h2 class="with-bar">About Players</h2>

            <div class="field">
                <label for="player-ws-port">Player websocket port</label>
                <input type="number" id="player-ws-port" name="player_ws_port">
            </div> 

            <div class="field">
                <label for="player-web-interface">Player web interface</label>
                <input type="checkbox" id="player-web-interface" name="player_web_interface">
            </div> 

            <div class="field">
                <label id="player-html-file-label" for="player-html-file">Player HTML file (in /player directory)</label>
                <input ype="text" id="player-html-file-input" name="player_html_file">
            </div> 

            <h2 class="with-bar">About Monitor</h2>

            <div class="field">
                <label for="monitor-ws-port">Monitor websocket port</label>
                <input type="number" id="monitor-ws-port" name="monitor_ws_port">
            </div>

            <div class="field">
                <label for="app-port">Application port</label>
                <input type="number" id="app-port" name="app_port">
            </div>

            <h2 class="with-bar">Other</h2>

            <div class="field">
                <label for="enable-verbose">Enable verbose in log messages</label>
                <input type="checkbox" id="enable-verbose" name="enable_verbose">
            </div> 

            <div class="button">
            <input class="default-button" type="submit" value="Save changes & Restart">
            </div>
        </div>
        </form>
    </section>
    
    <script src="settings.js"></script>
</body>
</html>
