<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gama Server Middleware</title>
    <link rel="stylesheet" type="text/css" href="monitor.css">
</head>

<body>
    <header>
        <h1>Gama Server Middleware</h1>
    </header>

    <nav class="navbar">
        <ul class="nav-list">
            <li class="nav-item"><a href="/monitor">Monitor</a></li>
            <li class="nav-item"><a href="/settings">Settings</a></li>
            <li class="nav-item"><a href="/help">Help</a></li>

        </ul>
    </nav>

    <p id="connection-state" style="display:none;"></p>

    <div class="sections">
        
        <div class="gama-section">
            <h2 class="with-bar">Gama Server</h2>
            
            <button class="default-button" id="try-connection">Try Connection</button>
            <p id="gama-connection-state">&#x274C; Not Connected</p>
            <p id="simulation-launched">&#x274C; The Simulation is Not Launched</p>
            
            <div id="simulation-controls">
                <button class="default-button" id="start-simulation">Launch</button>
                <button class="default-button" id="resume-simulation">Start/Resume</button>
                <button class="default-button" id="pause-simulation">Pause</button>
                <button class="default-button" id="stop-simulation">End</button>
                
                <p id="gama-loader"></p>
            </div>

            <p><a id="content-error"></a></p>
        </div>
        <div class="player-section">
            <h2 class="with-bar">Players</h2>
            <div>
                <button class="default-button" id="add-everyone">Add everyone to Gama</button>
                <button class="default-button" id="remove-everyone">Remove everyone from Gama</button>
                <button class="default-button" id="clean-all">Clean all disconnected</button>
            </div>
            
            <ul id="player-container"></ul>
        </div>
    </div>
    <script src="monitor.js"></script>
</body>

</html>
