<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VR-model Monitor</title>
    <link rel="stylesheet" type="text/css" href="monitor.css">
</head>

<body>
    <header>
        <h1>Gama Server Linker - Monitor Panel</h1>
    </header>

    <nav class="navbar">
        <ul class="nav-list">
            <li class="nav-item"><a href="#" id="monitor-link">Monitor</a></li>
            <li class="nav-item"><a href="#" id="settings-link">Settings</a></li>
            <li class="nav-item"><a href="#" id="help-link">Help</a></li>
        </ul>
    </nav>

    <div class="sections">
        <div class="gama-section">
            <h2 class="with-bar">Gama Server</h2>
            <p id="connection-state" style="display:none;"></p>
            <button class="default-button" id="try-connection">Try Connection</button>
            <p id="gama-connection-state">&#x274C; Not Connected</p>
            <p id="simulation-launched">&#x274C; The Simulation is Not Launched</p>
            <p id="gama-loader"></p>
            <div id="simulation-controls">
                <button class="default-button" id="start-simulation">Launch the Simulation</button>
                <button class="default-button" id="stop-simulation">Stop the Simulation</button>
            </div>
        </div>
        <div class="vr-section">
            <h2 class="with-bar">VR Headset</h2>
            <p style="color: blue;">&#9432; Add & Remove buttons allow the VR Headset to be authenticated or not to the Gama Simulation</p>
            <p id="vr-loading"></p>
            <ul id="vr-container"></ul>
        </div>
    </div>
    <script src="monitor.js"></script>
</body>

</html>
