<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modify JSON</title>
    <link rel="stylesheet" type="text/css" href="settings.css">
</head>
<body>
    <header>
        <h1>Gama Server Linker - Settings Panel</h1>
    </header>

    <nav class="navbar">
        <ul class="nav-list">
            <li class="nav-item"><a href="#" id="monitor-link">Monitor</a></li>
            <li class="nav-item"><a href="#" id="settings-link">Settings</a></li>
            <li class="nav-item"><a href="#" id="help-link">Help</a></li>
        </ul>
    </nav>

    <form id="json-form">
        <div class="field">
        <label for="gama-ws-port">GAMA WS Port:</label>
        <input type="number" id="gama-ws-port" name="gama_ws_port">
        </div>
        
        <div class="field">
        <label for="monitor-ws-port">Monitor WS Port:</label>
        <input type="number" id="monitor-ws-port" name="monitor_ws_port">
        </div>
    
        <div class="field">
        <label for="vr-ws-port">VR WS Port:</label>
        <input type="number" id="vr-ws-port" name="vr_ws_port">
        </div> 

        <div class="field">
        <label for="app-port">App Port:</label>
        <input type="number" id="app-port" name="app_port">
        </div>

        <div class="field">
        <label for="model-file-relative">Model File Relative Path:</label>
        <input type="text" id="model-file-relative" name="model_file_relative">
        </div>

        <div class="field">
        <label for="model-file-absolute">Model File Absolute Path:</label>
        <input type="text" id="model-file-absolute" name="model_file_absolute">
        </div>

        <div class="field">
        <label for="ip-address-gama-server">IP Address GAMA Server:</label>
        <input type="text" id="ip-address-gama-server" name="ip_address_gama_server">
        </div>
        
        <input class="default-button" type="submit" value="Save JSON">
    </form>
    
    <script src="settings.js"></script>
</body>
</html>
