<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gama Server Middleware Player</title>
    <link rel="stylesheet" href="runny_run_run.css">
</head>
<body>
    <h1>Paper Stone Scissors</h1>

    <div class="grid-container">
        <div class="grid-item">
            <div class="name-container">Connection information</div>
            <div class="content-container-column-left">
              <div id="connection-state"></div>
              <div id="authentification-state"></div>
            </div>
        </div>

        <div class="grid-item">
          <div class="name-container">Your name</div>
          <div class="content-container-row">
            <div id="name-input-div">
              <input type="text" id="name-input" placeholder="Enter your name" style="width:80%; border-radius: 15px;">
              <button id="name-button" oncl>&#10004;</button>
            </div>
          </div>
        </div>
        
        <div class="grid-item">
          <div class="name-container">About you</div>
          <div class="content-container-row">
            <div id="himself-view">?</div>
            <div id="himself-color-area"></div>
          </div>
        </div>
        
        <div class="grid-item">
          <div class="name-container">Number of soldiers</div>
          <div class="content-container-column">
            <div id="nb-agents-view">?</div>
          </div>
        </div>
        
        <div class="grid-item">
          <div class="name-container">Predator</div>
          <div class="content-container-row">
            <div id="predator-view">?</div>
            <div id="predator-color-area"></div>
          </div>
        </div>
        
        <div class="grid-item">
          <div class="name-container">Prey</div>
          <div class="content-container-row">
            <div id="prey-view">?</div>
            <div id="prey-color-area"></div>
          </div>
        </div>
        
        <div class="grid-item">
          <div class="name-container">
            <span>Attack rate </span>
            <span id="attack-rate-view">?</span>
          </div>
          <div class="content-container-row">
            <div id="attack-rate-input-container">
              <input id="attack-rate-input" type="range" id="slider" min="0.02" max="0.99" step="0.01" value="0.5" style="width:80%;">
              <button id="attack-rate-button">&#10004;</button>
            </div>
          </div>
        </div>
        
        <div class="grid-item">
            <div class="name-container">
              <span>Strategy</span>
              <span id="strategy-view">?</span>
            </div>
            <div class="content-container-row">
              <div id="strategy-input-div">
                <select id="strategy-input" name="strategy-input" style="margin: 5px;">
                  <option>Nearest</option>
                  <option>Nearest Improved</option>
                  <option>Global Average</option>
                </select>
                <button id="strategy-button">&#10004;</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    <script src="runny_run_run.js"></script>
</body>
</html>
